* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* --------------utility classes-------------------------- */
.flex{
  display: flex;
}

.btn a{
  color: #313c72;
  padding: 10px 20px;            
  background: #faa838;
  text-decoration: none;   
  font-family:  "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.btn a:hover{
  color: #faa838;
  background-color: #313c72;
  border: 2px solid #faa838;
}
.btnWhite{
  display: inline-flex;
  align-items: center;
}
.btnWhite a{
  background-color:#faa838;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif; 
  font-size:20px;
  font-weight:500;
  border-radius: 3px;
  gap: 10px;
}
.btnWhite a:hover{
  background-color: #f6c279;
}
.headingBlack{
  font-family:"Poppins", sans-serif; 
font-size: 35px;
font-weight: 700;
color: #000;
}
.headingBlue{
  color: #313c72;
  font-size: 22px;
  font-weight: 600;
  font-family:"Poppins", sans-serif;  
}
.headingWhite{
  color: #fff;
  font-weight: 600;
  font-size: 35px;
  font-family: "Poppins", sans-serif; 
}
.paraBlack{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4f4f4f;
  font-weight: 400;
}
.paraWhite{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
/* -----------------utility classes end----------------- */

/* ----------------------header start--------------------- */
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 60px;
}
.nav .left {
  padding-right: 20px;
}
.nav .left img{
  height: 140px;
}
.nav .right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right .info {
  background: url(../images/blue-rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-flex;
  justify-content:center;
  text-align: center;
  padding: 10px 80px;
}
.nav .right .info {
  display: flex;
  justify-content: flex-end;

}
.right .info .contact{
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
}


.right .info  p {
  color: #fff;
  padding-left: 10px;
  
}
.right .info .btn{
  margin: 10px;
}

.nav .right .nav-items ul {
  display: flex;
  padding: 20px 0;
  padding-left: 30px;
}
.nav-items ul li {
  list-style: none;
  padding-left: 40px;
}
.nav-items ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color:#000;
  font-family:  "Poppins", sans-serif;;
}
.nav-items ul li img{
  padding-left: 8px;
}
/* ---------------------header end-------------------- */
/* -------------------solutions section start----------------- */
.solutions .content{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 120px;
  background: #E5EEFF;
  position: relative;
  gap:150px;
  
}
.solutions .content .line1{
  position: absolute;
  content: "";
  top:0;
  left:300px;
  z-index:1;
}
.solutions .content .line2{
  position: absolute;
  content: "";
  top:0;
  left:600px;
  z-index:1;
}
.solutions .content .line3{
  position: absolute;
  content: "";
  top:0;
  left:900px;
  z-index:1;
}
.solutions .content .line4{
  position: absolute;
  content: "";
  top:0;
  left:1300px;
  z-index:1;
}
.solutions .content .dottedrect{
  position: absolute;
  content: "";
  top:0;
  left:1200px;
  z-index:1;
}
.solutions .content .cardWhite{
  background: #fff;
  border-radius: 2px;
  position: absolute;
  content: "";
  top: 50px;
  left: 1300px;
  z-index: 15;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  gap:10px;
}
.solutions .content .cardWhite .col{
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
gap: 2px;
}
.solutions .content .cardWhite .col .btm{
  display: flex;
  gap: 5px;
}
.cardWhite .col>p{
  font-size: 16px;
  font-weight: 500;
  color: #b7b7c2;
}
.cardWhite .col .btm  p{
font-weight: 600;
font-size: 18px;
color: #14153c;
}
.solutions .content .img-front{
  position: absolute;
  content: "";
  top: 182px;
  left: 960px;
  z-index: 15;
}
.solutions .content .left{
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.solutions .content .left .row1{
  display: flex;
  gap: 10px;
}

.solutions .content .left .row1 p{
font-size: 16px;
font-weight: 500;
color: #191a40;
}
.solutions .content .left h1{
font-weight: 700;
font-size: 48px;
color: #181940;
}
.solutions .content .left h1 span{
color: #fe8900;
}
.solutions .content .left>p{
  font-weight: 400;
  font-size: 16px;
  color: #3b4a69;
  padding: 20px 0;
}
.solutions .content .left .row2{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
}

.solutions .content .left .row2 .btn2 a{
text-decoration: none;
font-weight: 500;
font-size: 20px;
color: #161849;
padding: 15px 30px;
border: 2px solid #faa838;
border-radius: 3px;
}
.solutions .content .left .row2 .btn2 a:hover{
  color:#faa838;
  border: 2px solid #161849;
}
.solutions .content .left .card{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px 0;
  width: 318px;
  position: absolute;
  top: 525px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.solutions .content .left .card h2{
  font-weight: 600;
  font-size: 30px;
  color: #0052b4;
}
.solutions .content .left .card p{
  font-weight: 400;
  font-size: 18px;
  color: #202636;
}
.solutions .content .left .card .img img{
  border-radius: 10px;
}
.solutions .content .right{
  display: flex;
 gap:30px;
 z-index: 10;
}
.solutions .content .right .img-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.solutions .content .right .img-right{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* -------------------solutions section end------------ */
/* -------------------products section start---------------- */
.products{
  height: 150vh;
  padding:80px 0;
}
.products .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.products .content h2{
  font-size: 22px;
  font-weight: 600;
  color: #313c72;
  padding: 20px 0;
}
.products .content h1{
  color: #000;
  font-size: 35px;
  font-weight: 700;
  padding: 10px 0;
}
.products .content p{
  color:#4f4f4f;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}
.products .content .main-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  gap: 40px;
  position: relative;
}
.products .content .main-section .img1{
position: absolute;
content: "";
top: 20px;
left: 1150px;
}
.products .content .main-section .img2{
  position: absolute;
  content: "";
  top: 450px;
  left: 60px;
  z-index: 5;
}

.products .content .solarPanels,.products .content .evaSheets {
  display: flex;
  text-align:left;
  justify-content: center;
  gap: 50px;
}
.products .content .solarPanels h3,.products .content .evaSheets h3{
font-size: 28px;
font-weight: 600;
color: #313c72;
padding: 10px 0;
}
.products .content .solarPanels p,.products .content .evaSheets p{
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 400;
  border-left: 3.5px solid #14153c;
  padding-left: 20px;
}
.products .content .solarPanels .btnWhite,.products .content .evaSheets .btnWhite{
margin: 20px 0;
}
.products .content .solarPanels .left{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 60px;
  background: url(../images/pngwing-2.png);
  background-repeat: no-repeat;
  background-position:450px 100px;
  border-radius: 15px;
  position: absolute;
  top: 100px;
  left: 110px;
  background-color: #fff;
  z-index: 10;
}
.products .content .solarPanels .right{
  position: absolute;
  top: 50px;
  left:650px;
}
.products .content .evaSheets .right{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 100px;
  background: url(../images/pngwing-2.png);
  background-repeat: no-repeat;
  background-position:420px 100px;
  border-radius: 15px;
  position: absolute;
  top: 530px;
  left: 780px;
  background-color: #fff;
}
.products .content .evaSheets .left{
  position: absolute;
  top: 480px;
  left:120px;
}
/* --------------------products section end--------------- */
/* -----------------------blue section start --------------------- */
.blue{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:100px;
  position: relative;
  
  margin: 0 auto;
  background: #313c72;
  overflow: hidden;
}
.blue .slider {
display: flex;
}

.blue .slider .slide {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /* padding: 30px 0; */
  /* gap: 50px; */
  align-items: center;
}
.blue .slider .slide .left{
  display: flex;
  flex-direction: column;
}
.blue .slider .slide h2{
font-size: 35px;
font-weight: 600;
color: #fff;
padding: 10px 0;
}
.blue .slider .slide .left p{
font-size: 16px;
font-weight:400;
color: #fff;

}
.blue .slider .slide .left .btnWhite {
padding: 10px 0;
}

a.prev, a.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: #f2f2f2;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6 ease-in-out;
}
.active, .dot:hover{
  background-color: #717171;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{opacity:0.4}
  to {opacity: 1}
}
/* -------------blue section end-------------------------- */